html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding-top: 50px;
}

header {
    top: 0px;
    height: 40px;
    width: calc(100% - 20px);
    color: white;
    position: fixed;
    background-color: #990033;
    line-height: 40px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px black;
}

header div {
    margin: 5.5px 0px;
    height: 30px;
    float: right;
    line-height: 30px;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
}

header input {
    background-color: white;
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    height: 23px;
}

header input[type=text] {
    padding: 0px 5px;
}

header input[type=submit] {
    width: 25px;
    background-image: url(search.svg);
    background-size: 25px;
    background-position: -1px -2px;
}

table {
    width: 100%;
    padding: 10px;
    background-color: #EEE;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: calc(100% - 10px);
    z-index: 99999999;
    background-color: #444444;
    color: white;
    text-align: center;
    padding: 0px 5px;
    line-height: 40px;
    box-shadow: 0px 0px 10px black;
}